
.ftr-img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
.text{
    height: 563px; 
}

.ftr{
    text-align: center;
}

.ftr-img{
    margin-top: 12px;
    position: relative;
}

.hey{
    font-size: 50px;
}

.btn{
    height: 40px;
    margin-top: 30px;
}

.dis{
    padding-left: 100px;
    padding-top: 100px;
    color: white;
    
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content{
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.table{
    padding-right: 250px;
    padding-top: 70px;
    
}